<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tohsoft.lib" >

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".RateDialogActivity"
            android:screenOrientation="sensor"
            android:theme="@android:style/Theme.Dialog" />
       
    </application>

</manifest>